@model IEnumerable<WebBanDT.Context.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách sản phẩm</h2>

<p>
    @Html.ActionLink("Thêm sản phẩm", "Create")
</p>

@using (Html.BeginForm("Index", "Product", FormMethod.Get))
{
    <p>
        Tìm tên sản phẩm: @Html.TextBox("SearchString",ViewBag.CurrentFilter as string)
        <input type="submit"  value="Tìm kiếm"/>
    </p>
}

<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.name)*@
            Tên sản phẩm
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.price)*@
            Giá bán
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.newprice)*@
            Giá mới
        </th>
        <th>
            @* @Html.DisplayNameFor(model => model.img)*@
            Hình ảnh
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.description)*@
            Mô tả
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.meta)*@
            Phiên bản
        </th>


        <th>
            @*@Html.DisplayNameFor(model => model.datebegin)*@
            Ngày nhập
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.categoryid)*@
            Mã TH
        </th>
        <th>
            @* @Html.DisplayNameFor(model => model.quantity)*@
            Số lượng
        </th>
        <th>
            @* @Html.DisplayNameFor(model => model.typeid)*@
            Phân loại
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Category.name)*@
            Thương hiệu
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.newprice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.img)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.meta)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.datebegin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoryid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.typeid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
